<div class="p-8">
    <p-table #dataTable [value]="people" [tableStyle]="{'width': '100%'}" styleClass="p-datatable-striped"
        [globalFilterFields]="['firstName', 'lastName']">
        <!-- <ng-template pTemplate="caption">
            <div class="d-flex justify-content-end">
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" [(ngModel)]="searchValue" (input)="onGlobalFilter(dataTable, $event)"
                        class="w-full pl-8 border rounded-md text-black dark:border-gray-300 dark:bg-gray-50 dark:text-gray-800"
                        placeholder="Search keyword" />
                </span>
            </div>
        </ng-template> -->
        <ng-template pTemplate="header">
            <tr>
                @for (item of tableConfig.columns; track $index) {
                <th class="text-center" [ngStyle]="item?.width ? { 'min-width': item.width } : {'min-width': '150px'}">
                    {{ item.header }}
                </th>
                }
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-person>
            <tr>
                @for (item of tableConfig.columns; track $index) {
                @if (item.field === "action") {
                <td>
                    <div class="d-flex gap-2">
                        @for (item of person.action; track $index) {
                        <p-button [icon]="item.iconClass" [rounded]="true" [text]="true" [pTooltip]="item.tooltip"
                            tooltipPosition="bottom" [class]="item.styleClass"
                            (click)="onActionClick(person, item.action)" />
                        }
                    </div>
                </td>
                } @else if (item.field === "person") {
                <td>
                    <div class="flex items-center gap-4">
                        <p-avatar [image]="person?.avatar" class="mr-2" size="xlarge" shape="circle" />
                        <span class="flex items-center gap-2">
                            {{ person?.firstName }} {{ person?.middleName}} {{ person?.lastName }}
                        </span>
                    </div>
                </td>
                } @else {
                <td>{{ person[item.field] }}</td>
                }
                }
            </tr>
        </ng-template>
    </p-table>
</div>

<button (click)="addRecord()">Add User</button>

<p-toast />