<div class="h-screen w-full overflow-auto">
	<p-table #dataTable [value]="people" [tableStyle]="{'width': '100%'}" styleClass="p-datatable-striped"
		[globalFilterFields]="['firstName', 'middleName', 'lastName']" [paginator]="true" [rows]="20"
		[rowsPerPageOptions]="[20, 40, 50]" [showCurrentPageReport]="true" [scrollable]="true" scrollHeight="flex"
		currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries">
		<ng-template pTemplate="caption">
			<div class="flex items-center justify-between">
				<span class="p-input-icon-left">
					<i class="pi pi-search"></i>
					<input pInputText type="text" [(ngModel)]="searchValue" (input)="onGlobalFilter(dataTable, $event)"
						class="w-full pl-8 leading-8 border rounded-md text-black dark:border-gray-300 dark:bg-gray-50 dark:text-gray-800"
						placeholder="Search" />
				</span>
				<button pButton pRipple label="Add User" class="p-button-success font-bold" (click)="addRecord()"></button>
			</div>
		</ng-template>
		<ng-template pTemplate="header">
			<tr>
				@for (item of tableConfig.columns; track $index) {
				<th class="text-center" [ngStyle]="item?.width ? { 'min-width': item.width } : {'min-width': '170px'}"
					[pSortableColumn]="item.field">
					{{ item.header }}
					<p-sortIcon [field]="item.field" />
					<p-columnFilter type="text" [field]="item.field" [placeholder]="item.header" display="menu"
						matchMode="contains" />
				</th>
				}
			</tr>
		</ng-template>
		<ng-template pTemplate="body" let-person>
			<tr>
				@for (item of tableConfig.columns; track $index) {
				@if (item.field === "action") {
				<td>
					<div class="w-fit mx-auto my-0 d-flex gap-2">
						@for (item of person.action; track $index) {
						<p-button [icon]="item.iconClass" [rounded]="true" [text]="true" [pTooltip]="item.tooltip"
							tooltipPosition="bottom" [class]="item.styleClass" class="action-button"
							(click)="onActionClick(person, item.action)" />
						}
					</div>
				</td>
				} @else if (item.field === "fullName") {
				<td>
					<div class="flex items-center gap-4">
						<p-avatar [image]="person?.avatar" class="flex" size="normal" shape="circle" />
						<span class="flex items-center gap-2"> {{person[item.field]}} </span>
					</div>
				</td>
				} @else if (item.field === "status") {
				<td>
					<p-tag [value]="person[item.field] | capitalize"
						[severity]="person[item.field] === 'active' ? 'success': person[item.field] === 'inactive' ? 'danger' : undefined ">
					</p-tag>
				</td>
				} @else {
				<td>{{ person[item.field] | capitalize}}</td>
				}
				}
			</tr>
		</ng-template>
	</p-table>
</div>

<p-toast />
<p-confirmDialog />