@import "primeicons/primeicons.css";

@layer tailwind-base, primeng, tailwind-utilities;

@layer tailwind-base {
    @tailwind base;
}

@layer tailwind-utilities {
    @tailwind components;
    @tailwind utilities;
}

.action-button button {
    // color: initial;
    color: inherit !important;
}

.p-paginator {
    justify-content: flex-end !important;
    border-top: 1px solid #e9ecef !important;
}